.wrapper {
    text-align: center;
    border: 5px solid lightcoral;
    padding-bottom: 15px;
    margin: 50px 25%;
}
.calc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.num {
    border: 2px solid lightcoral;
    width: 50px;
    height: 20px;
    margin: 20px;
}
button {
    background: #fff;
    border: 2px solid lightcoral;
}